<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-danger">
        <h1 class="title">Error</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <div class="list">
            <center style="font-size:30px;">
                Error al registrar el usuario
            </center>
            <br/>
            <center>
                <img src="../img/error.png" />
            </center>
            <center>
                <button class="button button-full button-positive" ng-click="modal.hide()">Entendido</button>
            </center>
        </div>
    </ion-content>
</ion-modal-view>